*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color:rgb(6, 33, 56);
    text-align: center; 
    font-family: Arial, sans-serif;
}

header {
    height: 200px;
    background-color: rgb(187, 116, 163);
    padding-top: 0;
    width: 100%;
}

h1 {
    font-size: 3em;
    padding-top: 5%;
}

.message {
    font-size: 25px;
    padding-top: 10%;
}

footer {
    height:  40px;
    background-color: black;
    padding: 5%;
    margin-top: 5%;
    color: rgb(42, 43, 44);
    background-color: rgb(187, 116, 163);
}

footer p {
    font-size: 15px;
}

.buttons {
    border-color: white;
    color: rgb(43, 14, 28);
    font-style:italic;
    font-weight: bold;
    border-radius: 15px;
    width: 20%;
    margin-top: 5%;
    height: 40px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}